<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>151704151329-gp4db6dugn8bhmspnfneo5o5816f4kom.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.151704151329-gp4db6dugn8bhmspnfneo5o5816f4kom</string>
	<key>API_KEY</key>
	<string>AIzaSyATnHsSj9z3iYukVO1Q6lJLfkZxsVltXho</string>
	<key>GCM_SENDER_ID</key>
	<string>151704151329</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.furkanyagmur.mv.mvAdayiWebSite</string>
	<key>PROJECT_ID</key>
	<string>tez-projesi-383f0</string>
	<key>STORAGE_BUCKET</key>
	<string>tez-projesi-383f0.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:151704151329:ios:12d353f253cceca0904a60</string>
</dict>
</plist>